{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">


    <title>Teste</title>
</head>

<body>
    <nav>
        <img src="{% static 'img/logo.png' %}" alt="" id='logo'>
        <div id="divPesq">
            <input type="text" id="text" placeholder="Digite sua busca...">
            <!-- <button id="btnBusca"></button> -->
        </div>
        <a href="">Home</a>
        <a href="">Adote</a>
        <a href="">Seja um Doador</a>
        <a href="">Quem Somos</a>
        <a href="">ONG's</a>
    </nav>
    <header>
        
        <div id='divTexto'>
            <h1>Seja feliz <br> adotando um amigo!</h1>
        </div>
        <div id='divBotao'>
            <button>CADASTRE-SE</button>
            
        </div>
    </header>
        <div>

            <form>
                <!-- <input type="radio" name="Animal" value="Cachorro" id='d'> -->
                <!-- <img src="{% static 'img/dog(2).png' %}" alt=""> -->
                <!-- <input type="radio" name="Animal" value="Gato" id='c'>  -->
                    <!-- <img src="{% static 'img/cat(1).png' %}" alt=""><p></p> -->
                    <select name="" id="idade">
                        <option value="">Selecione a Idade</option>
                        <option value="">2 meses a 1 ano</option>
                        <option value="">Até 2 anos</option>
                        <option value="">3 anos</option>
                        <option value="">4 anos</option>
                     <option value="">5 anos</option>
                    </select>
                <select name="" id="cidade">
                    <option value="">Seleciona sua Cidade</option>
                    <option value="">Minas Gerais</option>
                    <option value="">São Paulo</option>
                    <option value="">Rio de Janeiro</option>
                </select>
                <input type="checkbox">Pequeno
                <input type="checkbox">Grande
                <input type="checkbox">Médio
            </form>
        </div>
            
    <aside>
                     
            {% for Animal in animais %}
            
            <div class="card">
                <div>
                    <img src="{{Animal.foto.url}}" alt="">
                </div>
                <h3>{{Animal.nome}}</h3>
                <p>Tamanho: {{Animal.tamanho}}</p>
                <p>Idade: {{Animal.idade}}</p>
                
            </div>
        {% endfor %}


     </aside>

    <section>
        <div id='divSomos'>
            <h2>Quem Somos?</h2>
            <div id='divSobre'>
                <p>Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto.<p> É fácil! Basta clicar
                        em
                        "Editar Texto" ou clicar duas vezes sobre mim e você</p> poderá adicionar o seu próprio conteúdo
                    e
                    trocar fontes. <p>Sinta-se à vontade para arrastar e soltar em qualquer lugar em sua página.</p>
                </p>
                <p>Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto.<p> É fácil! Basta clicar
                        em
                       
                </p>
            </div>
        </div>
        <img src="{% static 'img/adote2.jpg' %}" alt="">

    </section>
    <footer></footer>

</body>

</html>