{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">


    <title>Teste</title>
</head>

<body>
    <nav>
        <img src="img/logo.png" alt="">
        <div id="divPesq">
            <input type="text" id="text" placeholder="Digite sua busca...">
            <button id="btnBusca"></button>
        </div>
        <a href="">Home</a>
        <a href="">Adote</a>
        <a href="">Seja um Doador</a>
        <a href="">Quem Somos</a>
        <a href="">ONG's</a>
    </nav>
    <header>
        
        <div id='divTexto'>
            <h1>Seja feliz <br> adotando um amigo!</h1>
        </div>
        <div id='divBotao'>
            <button>CADASTRE-SE</button>
            
        </div>
    </header>

    <section>
        <div id='divSomos'>
            <h2>Quem Somos?</h2>
            <div id='divSobre'>
                <p>Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto.<p> É fácil! Basta clicar
                        em
                        "Editar Texto" ou clicar duas vezes sobre mim e você</p> poderá adicionar o seu próprio conteúdo
                    e
                    trocar fontes. <p>Sinta-se à vontade para arrastar e soltar em qualquer lugar em sua página.</p>
                </p>
                <p>Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto.<p> É fácil! Basta clicar
                        em
                       
                </p>
            </div>
        </div>
        <img src='img/adote2.jpg' alt="">

    </section>
    <!-- <aside>
        <div>
            <div>

                <div id="divCao">
                    <img src="img/dog.png" alt="">
                    <input type="radio" name="cão">Cachorro
                </div>
                    <div id="divGato">
                        <img src="img/cat.png" alt="">
                        <input type="radio" name="gato">Gato
                    </div>
                    

        </div>
            </div>


    </aside> -->
    <footer></footer>

</body>

</html>