{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <style>
  
  </style>
</head>
<body>
<div class="container">  
  <form action="submit", method="POST">{% csrf_token %}
    <div class="row" style="margin-left:35%; margin-top:10%">
        <div class="col-4">
          <h2 class="text-center">Re-Pet</h2>
          <div class="form-group">
            <label for="username">Usuário:</label>
            <input type="username" class="form-control" id="username" placeholder="E-mail" name="username" size="10">
          </div>
          <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Senha" name="password">
          </div>
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-danger">{{ message }}</div>
                      {% endfor %}

                  {% endif %}
          <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </form>
</div>

    <section>

        {% if msg %}    
        <p>{{ msg }}</p>
        {% endif %}
        
        
        <form method='POST'>
            {% csrf_token %}
            {{Cadastro.nome}}
            <button type="submit">Cadastrar</button>
        </form>        
        
    </section>

</body>
</html>